/*
#203A72 = dark blue
#00608F = medium blue
#0093AF = aqua
#CCEDFB = powder blue
*/

body {
background-color: #CCEDFB;
}

h1 {
color: #203A72;
size: 16;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

h2 {
color: #203A72;
size: 12;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}


p {
color: black;
size: 1;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}